<footer class="nel">
	
	<div class="row">
		<div class="col-md-4">
			<img class="logof" src="/assets/images/logo.png">	
			<div class="social">
				<a href="#"><i class="fa fa-facebook-square"></i> <span>/cuenta</span> </a> <br>
				<a href="#"><i class="fa fa-twitter-square"></i> <span>@cuenta</span> </a><br>
				<a href="#"><i class="fa fa-instagram"></i> <span>/cuenta</span> </a>
			</div>		
		</div>
		<div class="col-md-4">
			
		</div>
		<div class="col-md-4">
			<div class="social">
				<a href="">More</a> <br>
				<a href="">More</a> <br>
				<a href="">More</a> <br>
				<a href="">More</a> <br>
				<a href="">More</a> <br>
				<a href="">More</a>
			</div>
		</div>
	</div>
	
</footer>